body {
    margin: 0;
    font-family: sans-serif;
}

.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../img/adventure-backpack-conifer-840719.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: white;
}

.hero h1 {
    font-size: 5em;
}

.arrowDown {
    position: absolute;
    left: 48vw;
    bottom: 8vh;
}